$ff1: 'Audiowide', sans-serif;
$ff2: 'Roboto', sans-serif;
$btn-bs:  0 0 35px rgba(31,205,255,0.40), 0 0 30px rgba(31,205,255,0.15); // btn box-shadow

$light-blue: #a9ecff;
$regular-blue: #1fcdff;
$dark-blue: #053f6d;

$white: #ffffff;
$gray: #72787f;
